In [ ]:
SELECT CPS.NAME_OF_SCHOOL,CPS.COMMUNITY_AREA_NAME,CPS.AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS CPS LEFT JOIN CENSUS_DATA CD 
ON CPS.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE HARDSHIP_INDEX = 98;


SELECT CCD.CASE_NUMBER,CCD.PRIMARY_TYPE,CD.COMMUNITY_AREA_NAME
FROM CRIME_DATA CCD LEFT JOIN  CENSUS_DATA CD
ON CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE CCD.LOCATION_DESCRIPTION LIKE '%SCHOOL%';

CREATE VIEW N_SCHOOLS(School_Name,Safety_Rating,Family_Rating,Environment_Rating,
Instruction_Rating,Leaders_Rating,Teachers_Rating) as 
SELECT NAME_OF_SCHOOL,SAFETY_ICON,FAMILY_INVOLVEMENT_ICON,ENVIRONMENT_ICON,INSTRUCTION_ICON,
LEADERS_ICON,TEACHERS_ICON
FROM CHICAGO_PUBLIC_SCHOOLS;

SELECT School_Name,Leaders_Rating FROM N_SCHOOLS;


--#SET TERMINATOR@
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE
(IN in_School_ID INTEGER , IN in_Leader_Score INTEGER)
LANGUAGE SQL 
MODIFIES SQL DATA 

BEGIN 


END

@



--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE
(IN in_School_ID INTEGER , IN in_Leader_Score INTEGER)

LANGUAGE SQL 
MODIFIES SQL DATA 

BEGIN
 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;

END

@



--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE
(IN in_School_ID INTEGER , IN in_Leader_Score INTEGER)

LANGUAGE SQL 
MODIFIES SQL DATA 

BEGIN
 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;

IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Very weak'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 40 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Weak'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 60 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Average'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 80 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Strong'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 100 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Very Strong'
    WHERE SCHOOL_ID = in_School_ID;

END IF;

END

@

--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE
(IN in_School_ID INTEGER , IN in_Leader_Score INTEGER)

LANGUAGE SQL 
MODIFIES SQL DATA 

BEGIN
 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;

IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Very weak'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 40 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Weak'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 60 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Average'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 80 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Strong'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 100 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Very Strong'
    WHERE SCHOOL_ID = in_School_ID;

ELSE 
    ROLLBACK WORK;
END IF;

END
@



--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE
(IN in_School_ID INTEGER , IN in_Leader_Score INTEGER)

LANGUAGE SQL 
MODIFIES SQL DATA 

BEGIN
 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;

IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Very weak'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 40 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Weak'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 60 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Average'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 80 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Strong'
    WHERE SCHOOL_ID = in_School_ID;

ELSEIF in_Leader_Score < 100 THEN

    UPDATE CHICAGO_PUBLIC_SCHOOLS SET LEADERS_ICON = 'Very Strong'
    WHERE SCHOOL_ID = in_School_ID;
END IF;
COMMIT WORK;

END
@








CALL UPDATE_LEADERS_SCORE(609676,38);
SELECT SCHOOL_ID, LEADERS_SCORE,LEADERS_ICON FROM CHICAGO_PUBLIC_SCHOOLS
WHERE SCHOOL_ID = 609676;
--
--CALL UPDATE_LEADERS_SCORE4(609676,101);
--SELECT SCHOOL_ID, LEADERS_SCORE,LEADERS_ICON FROM CHICAGO_PUBLIC_SCHOOLS
--WHERE SCHOOL_ID = 609676;